.prodid{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prodid__data{
    display: flex;
    flex-wrap: wrap;
}
