.splide {
    min-width: 300px;
    max-width: 500px;
    height: 350px;
}

.splide__slide {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide__arrow{
    background-color: orange;
}

.splide__pagination__page{
    background-color: orange;
}

.splide__pagination__page.is-active{
    background: black;
}