.navbar {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid gainsboro;
}

.navbar__title a{
    color: orange;
    text-decoration: none;
}

.navbar__lis {
    display: flex;
}

.navbar__item{
    height: 100%;
}

.navbar__item a{
    color: orange;
    text-decoration: none;
    border-left: 2px solid gainsboro;
    padding: 0 15px;
}